<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


</head>
<body>
<div class="container">
    <h1>Your Goals</h1>

    <table>
        <tr>
            <th class="p-3">Date</th>
            <th class="p-3">Goal</th>
        </tr>
        {% for goalObject in your_goals %}
            <tr >
                <td class="px-3">{{ goalObject.date }}</td>
                <td>{{ goalObject.goal }}</td>
            </tr>
        {% endfor %}
    </table>


    
    <h1>Your Partner's Goals</h1>

    <table>
        <tr>
            <th class="p-3">Date</th>
            <th class="p-3">Goal</th>
        </tr>
        {% for goalObject in partner_gitgoals %}
            <tr >
                <td class="px-3">{{ goalObject.date }}</td>
                <td>{{ goalObject.goal }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>