{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
    <title>Login</title>
</head>
<body>
    <form action="/register/" method="POST" style="border:1px solid #ccc">
        {% csrf_token %}


        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <div class="container">
            {% if error %}
                <div class="Error">
                {{error}}
                </div>
            {% endif %}
        <hr>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    
        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
        </div>
    </form>
</body>
</html>
